@{
    ViewBag.Title = "about";
}




<div class="theme-page padding-bottom-66">
    <div class="row gray full-width page-header vertical-align-table">
        <div class="row full-width padding-top-bottom-50 vertical-align-cell">
            <div class="row">
                <div class="page-header-left">
                    <h1>ABOUT US</h1>
                </div>
                <div class="page-header-right">
                    <div class="bread-crumb-container">
                        <label>You Are Here:</label>
                        <ul class="bread-crumb">
                            <li>
                                <a title="HOME" href="~/Home/index">
                                    HOME
                                </a>
                            </li>
                            <li class="separator">
                                &#47;
                            </li>
                            <li>
                                ABOUT US
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="row margin-top-70">
            <div class="column column-1-2 align-center re-preload">
                <img src="~/Content/images/samples/480x480/logo.jpg" alt="" class="radius">
            </div>
            <div class="column column-1-2">
                <h2 class="box-header align-left">WE ARE DESIGN HUB</h2>
                <p class="description t1">Architectural Designs has been selling quality pre-drawn house plans (and garage plans too!) for over 40 years. We offer home plans from over 200 architects and residential building designers across North America and beyond. We add to our portfolio on a daily basis.

Plans come in all shapes, sizes and architectural styles and are suitable for all budgets. We offer everything from small starter homes to one-of-a-kind luxury homes. Any of our plans can be modified to suit your needs.
                               </p>
                <ul class="list margin-top-20">
                    <li class="template-bullet">We combine Quality Workmanship, Superior Knowledge and Low Prices</li>
                    <li class="template-bullet">We Can Ensure a Job is Done on Time and on Budget</li>
                    <li class="template-bullet">Proven Results for Setting Exceptional Standards in <a href="~/Home/cost_calculator">Cost Control</a></li>
                    <li class="template-bullet">Proffesional Service for Private and <a href="#">Commercial Customers</a></li>
                    <li class="template-bullet">15 Years Experience and a Real Focus on Customer Satisfaction</li>
                </ul>
                <div class="page-margin-top">
                    <a class="more" href="~/Home/services" title="OUR SERVICES">OUR SERVICES</a>
                </div>
            </div>
        </div>
        <div class="row gray full-width page-margin-top-section padding-top-70 padding-bottom-66">
            <div class="row">
                <div class="column column-1-3">
                    <ul class="features-list">
                        <li class="sl-small-wrench">
                            <h4>BEST VALUE</h4>
                            <p>We combine quality workmanship, superior knowledge and low prices to provide you with service unmatched by our competitors.</p>
                        </li>
                    </ul>
                </div>
                <div class="column column-1-3">
                    <ul class="features-list">
                        <li class="sl-small-measure">
                            <h4>SAVING TIME</h4>
                            <p>We have the experience, personel and resources to make the project run smoothly. We can ensure a job is done on time.</p>
                        </li>
                    </ul>
                </div>
                <div class="column column-1-3">
                    <ul class="features-list">
                        <li class="sl-small-bucket">
                            <h4>WITHIN BUDGET</h4>
                            <p>Work with us involve a carefully planned series of steps, centered around a schedule we stick to and daily communication.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row full-width padding-top-70 padding-bottom-66 parallax parallax-2">
            <div class="row">
                <h2 class="box-header">WHY CHOOSE US</h2>
            </div>
            <div class="row page-margin-top">
                <div class="column column-1-3">
                    <ul class="features-list big">
                        <li class="sl-large-globe">
                            <div class="ornament"></div>
                            <span class="number animated-element" data-value="15"></span>
                            <p>Years on the International Market.</p>
                        </li>
                    </ul>
                </div>
                <div class="column column-1-3">
                    <ul class="features-list big">
                        <li class="sl-large-house-2">
                            <div class="ornament"></div>
                            <span class="number animated-element" data-value="135"></span>
                            <p>Completed Projects and Investments.</p>
                        </li>
                    </ul>
                </div>
                <div class="column column-1-3">
                    <ul class="features-list big">
                        <li class="sl-large-briefcase">
                            <div class="ornament"></div>
                            <span class="number animated-element" data-value="12"></span>
                            <p>Skilled Professionals.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row page-margin-top-section">
            <div class="column column-1-2">
                <h3 class="box-header">OUR MISSION</h3>
                <p class="description t1">Paetos dignissim at cursus elefeind norma arcu. Pellentesque accumsan est in tempus etos ullamcorper, sem quam suscipit lacus maecenas tortor. Erates vitae node metus. Suspendisse gravida ornare non mattis velit rutrum modest. Morbi suspendisse a tortor velim pellentesque uter justo magna gravida. Pellentesque accumsan, ex in tempus ullamcorper terminal. Setis lacus suscipit tortor erat vitae metus.</p>
                <p class="description t1">Morbi nulla tortor, dignissim at node cursus euismod est arcu. Nomad turbina uter vehicula justo magna paetos in terminal. Pellentesque in accumsan tempus, terminal ullamcorper a quam suscipit lacus <a href="#">modest elementum</a>.</p>
                <div class="page-margin-top">
                    <a class="more" href="~/Home/projects" title="OUR PROJECTS">OUR PROJECTS</a>
                </div>
            </div>
            <div class="column column-1-2">
                <h3 class="box-header">POPULAR QUESTIONS</h3>
                <ul class="accordion margin-top-40 clearfix">
                    <li>
                        <div id="accordion-renovation-cost">
                            <h5>Why does a renovation project cost so much?</h5>
                        </div>
                        <p class="description t1">Paetos dignissim at cursus elefeind norma arcu. Pellentesque accumsan est in tempus etos ullamcorper, sem quam suscipit lacus maecenas tortor. Erates vitae node metus. Suspendisse gravida ornare non mattis velit rutrum modest. Morbi suspendisse a tortor velim pellentesque uter justo magna gravida et maecenas.</p>
                    </li>
                    <li>
                        <div id="accordion-project-timeline">
                            <h5>What is the timeline for the project?</h5>
                        </div>
                        <p class="description t1">Paetos dignissim at cursus elefeind norma arcu. Pellentesque accumsan est in tempus etos ullamcorper, sem quam suscipit lacus maecenas tortor. Erates vitae node metus. Suspendisse gravida ornare non mattis velit rutrum modest. Morbi suspendisse a tortor velim pellentesque uter justo magna gravida et maecenas.</p>
                    </li>
                    <li>
                        <div id="accordion-construction-budget">
                            <h5>What is the total budget for construction?</h5>
                        </div>
                        <p class="description t1">Paetos dignissim at cursus elefeind norma arcu. Pellentesque accumsan est in tempus etos ullamcorper, sem quam suscipit lacus maecenas tortor. Erates vitae node metus. Suspendisse gravida ornare non mattis velit rutrum modest. Morbi suspendisse a tortor velim pellentesque uter justo magna gravida et maecenas.</p>
                    </li>
                    <li>
                        <div id="accordion-project-initiation">
                            <h5>How is renovation project initiated?</h5>
                        </div>
                        <p class="description t1">Paetos dignissim at cursus elefeind norma arcu. Pellentesque accumsan est in tempus etos ullamcorper, sem quam suscipit lacus maecenas tortor. Erates vitae node metus. Suspendisse gravida ornare non mattis velit rutrum modest. Morbi suspendisse a tortor velim pellentesque uter justo magna gravida et maecenas.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>