@{
    ViewBag.Title = "account";
}

<div class="login_form">
    <h1>Client Login</h1>

    <form method="get" action="#">
        <div class="form_row">
            <label>Email</label><input name="email_address" type="text" class="inputfield" id="email_addremss" maxlength="60" />
        </div>
        <div class="form_row">
            <label>Password</label><input name="password" type="password" class="inputfield" id="password" maxlength="60" />
        </div>
        <input class="button" type="submit" name="Submit" value="Login" />
    </form>
</div>