@{
    ViewBag.Title = "AfterLogin";
}

<h2>After Login</h2>
  @if (Session["LongedUserFullName"]!= null)
   {
          <text>
       Welcome @Session["LongedUserFullName"].ToString()


        </text>

   }
    
    