

<div class="login_form">
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <h1>Admin Login</h1>

    <form method="get" action="#">
        <div class="form_row">
            &nbsp &nbsp &nbsp <label>Email</label>&nbsp &nbsp &nbsp &nbsp<input name="email_address" type="text" class="inputfield" id="email_addremss" maxlength="60" />
        </div>
        </br>
        <div class="form_row">
           &nbsp &nbsp &nbsp <label>Password</label> &nbsp <input name="password" type="password" class="inputfield" id="password" maxlength="60" />
        </div>
        </br>
        &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp  &nbsp &nbsp  &nbsp &nbsp  &nbsp &nbsp  <input class="button" type="submit" name="Submit" value="Login" />
    </form>
</div>