

<div class="back">
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp<h2>REGISTER YOURSELF</h2>
</div>
<!---->
<div class="container">
    <div class="register">
        &nbsp &nbsp &nbsp &nbsp &nbsp <h3>PERSONAL INFORMATION</h3>
        <form>


            <div class="mation">
                <div>
                    &nbsp &nbsp <span>First Name</span>
                    &nbsp &nbsp &nbsp &nbsp &nbsp  <input type="text">
                </div>
                </br>
                <div>
                    &nbsp &nbsp <span>Last Name</span>
                    &nbsp &nbsp &nbsp &nbsp &nbsp <input type="text">
                </div>
                </br>
                <div>
                    &nbsp &nbsp <span>Email Address</span>
                    &nbsp &nbsp  <input type="text">
                </div>
                </br>
                <div>
                    &nbsp &nbsp <span>Password</span>
                    &nbsp &nbsp &nbsp &nbsp &nbsp <input type="text">
                </div>
                </br>
            </div>
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp <input type="submit" value="submit">
        </form>


    </div>
</div>
<!---->