@{
    ViewBag.Title = "category";
}



<div class="theme-page padding-bottom-66">
    <div class="row gray full-width page-header vertical-align-table">
        <div class="row full-width padding-top-bottom-50 vertical-align-cell">
            <div class="row">
                <div class="page-header-left">
                    <h1>CATEGORY PAGE</h1>
                </div>
                <div class="page-header-right">
                    <div class="bread-crumb-container">
                        <label>You Are Here:</label>
                        <ul class="bread-crumb">
                            <li>
                                <a title="HOME" href="~/Home/index">
                                    HOME
                                </a>
                            </li>
                            <li class="separator">
                                &#47;
                            </li>
                            <li>
                                CATEGORY PAGE
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="row margin-top-70">
            <div class="column column-3-4">
                <ul class="blog clearfix">
                    <li>
                        <ul class="post-details">
                            <li class="date template-calendar">Apr<h2>25</h2>2015</li>
                            <li class="template-eye">2 325</li>
                            <li class="template-bubble"><a href="post.html#comments-list" title="5 comments">5</a></li>
                        </ul>
                        <div class="post-content">
                            <a href="~/Home/post" title="What a Difference a Few Months Make" class="post-image">
                                <img src="~/Content/images/samples/750x500/image_10.jpg" alt="">
                            </a>
                            <ul class="post-content-details clearfix">
                                <li>By <a href="#" title="Kevin Smith">Kevin Smith</a></li>
                                <li>In <a href="#" title="Build">Build</a>, <a href="#" title="Repairs">Repairs</a></li>
                            </ul>
                            <h2 class="box-header align-left"><a href="~/Home/post">WHAT A DIFFERENCE A FEW MONTHS MAKE</a></h2>
                            <p class="description t1">Paetos dignissim at cursus elefeind norma arcu. Pellentesque mode accumsan est in tempus, etos at ullamcorper quam suscipit lacus maecenas tortor. Erates vitae node metus. Suspendisse est gravida ornare. Non mattis morbi suspendisse velit rutrum modest a tortor velim pellentesque uter justo magna gravida.</p>
                            <div class="row padding-top-54 padding-bottom-17">
                                <a class="more" href="~/Home/post" title="READ MORE">READ MORE</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <ul class="post-details">
                            <li class="date template-calendar">Apr<h2>17</h2>2015</li>
                            <li class="template-eye">2 125</li>
                            <li class="template-bubble"><a href="post.html#comments-list" title="5 comments">5</a></li>
                        </ul>
                        <div class="post-content">
                            <a href="~/Home/post" title="Kitchen And Living Room Renovation" class="post-image">
                                <img src="~/Content/images/samples/750x500/image_07.jpg" alt="">
                            </a>
                            <ul class="post-content-details clearfix">
                                <li>By <a href="#" title="Kevin Smith">Kevin Smith</a></li>
                                <li>In <a href="#" title="Painting">Painting</a>, <a href="#" title="Renovation">Renovation</a></li>
                            </ul>
                            <h2 class="box-header align-left"><a href="~/Home/post">KITCHEN AND LIVING ROOM RENOVATION</a></h2>
                            <p class="description t1">Paetos dignissim at cursus elefeind norma arcu. Pellentesque mode accumsan est in tempus, etos at ullamcorper quam suscipit lacus maecenas tortor. Erates vitae node metus. Suspendisse est gravida ornare. Non mattis morbi suspendisse velit rutrum modest a tortor velim pellentesque uter justo magna gravida.</p>
                            <div class="row padding-top-54 padding-bottom-17">
                                <a class="more" href="~/Home/post" title="READ MORE">READ MORE</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <ul class="post-details">
                            <li class="date template-calendar">Apr<h2>17</h2>2015</li>
                            <li class="template-eye">2 125</li>
                            <li class="template-bubble"><a href="post.html#comments-list" title="5 comments">5</a></li>
                        </ul>
                        <div class="post-content">
                            <a href="~/Home/post" title="Signs You Need Drain Repair Services" class="post-image">
                                <img src="~/Content/images/samples/750x500/image_05.jpg" alt="">
                            </a>
                            <ul class="post-content-details clearfix">
                                <li>By <a href="#" title="Kevin Smith">Kevin Smith</a></li>
                                <li>In <a href="#" title="Painting">Plumbing</a></li>
                            </ul>
                            <h2 class="box-header align-left"><a href="~/Home/post">SIGNS YOU NEED DRAIN REPAIR SERVICES</a></h2>
                            <p class="description t1">Paetos dignissim at cursus elefeind norma arcu. Pellentesque mode accumsan est in tempus, etos at ullamcorper quam suscipit lacus maecenas tortor. Erates vitae node metus. Suspendisse est gravida ornare. Non mattis morbi suspendisse velit rutrum modest a tortor velim pellentesque uter justo magna gravida.</p>
                            <div class="row padding-top-54 padding-bottom-17">
                                <a class="more" href="~/Home/post" title="READ MORE">READ MORE</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <ul class="post-details">
                            <li class="date template-calendar">Apr<h2>17</h2>2015</li>
                            <li class="template-eye">2 125</li>
                            <li class="template-bubble"><a href="post.html#comments-list" title="5 comments">5</a></li>
                        </ul>
                        <div class="post-content">
                            <a href="~/Home/post" title="Steps To Imprive Joint Placement" class="post-image">
                                <img src="~/Content/images/samples/750x500/image_09.jpg" alt="">
                            </a>
                            <ul class="post-content-details clearfix">
                                <li>By <a href="#" title="Kevin Smith">Kevin Smith</a></li>
                                <li>In <a href="#" title="Flooring">Flooring</a>, <a href="#" title="Tiling">Tiling</a></li>
                            </ul>
                            <h2 class="box-header align-left"><a href="~/Home/post">STEPS TO IMPRIVE JOINT PLACEMENT</a></h2>
                            <p class="description t1">Paetos dignissim at cursus elefeind norma arcu. Pellentesque mode accumsan est in tempus, etos at ullamcorper quam suscipit lacus maecenas tortor. Erates vitae node metus. Suspendisse est gravida ornare. Non mattis morbi suspendisse velit rutrum modest a tortor velim pellentesque uter justo magna gravida.</p>
                            <div class="row padding-top-54 padding-bottom-17">
                                <a class="more" href="~/Home/post" title="READ MORE">READ MORE</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <ul class="post-details">
                            <li class="date template-calendar">Apr<h2>17</h2>2015</li>
                            <li class="template-eye">2 125</li>
                            <li class="template-bubble"><a href="post.html#comments-list" title="5 comments">5</a></li>
                        </ul>
                        <div class="post-content">
                            <ul class="post-content-details clearfix">
                                <li>By <a href="#" title="Kevin Smith">Kevin Smith</a></li>
                                <li>In <a href="#" title="Renovation">Renovation</a>, <a href="#" title="Repairs">Repairs</a></li>
                            </ul>
                            <h2 class="box-header align-left"><a href="~/Home/post">HOW TO CHOOSE A RELIABLE COMPANY</a></h2>
                            <p class="description t1">Paetos dignissim at cursus elefeind norma arcu. Pellentesque mode accumsan est in tempus, etos at ullamcorper quam suscipit lacus maecenas tortor. Erates vitae node metus. Suspendisse est gravida ornare. Non mattis morbi suspendisse velit rutrum modest a tortor velim pellentesque uter justo magna gravida.</p>
                            <div class="row padding-top-54 padding-bottom-17">
                                <a class="more" href="~/Home/post" title="READ MORE">READ MORE</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <ul class="post-details">
                            <li class="date template-calendar">Apr<h2>17</h2>2015</li>
                            <li class="template-eye">2 125</li>
                            <li class="template-bubble"><a href="post.html#comments-list" title="5 comments">5</a></li>
                        </ul>
                        <div class="post-content">
                            <a href="~/Home/post" title="Installation Of Click Laminate Flooring" class="post-image">
                                <img src="~/Content/images/samples/750x500/image_01.jpg" alt="">
                            </a>
                            <ul class="post-content-details clearfix">
                                <li>By <a href="#" title="Kevin Smith">Kevin Smith</a></li>
                                <li>In <a href="#" title="Flooring">Flooring</a>, <a href="#" title="Tiling">Tiling</a></li>
                            </ul>
                            <h2 class="box-header align-left"><a href="~/Home/post">INSTALLATION OF CLICK LAMINATE FLOORING</a></h2>
                            <p class="description t1">Paetos dignissim at cursus elefeind norma arcu. Pellentesque mode accumsan est in tempus, etos at ullamcorper quam suscipit lacus maecenas tortor. Erates vitae node metus. Suspendisse est gravida ornare. Non mattis morbi suspendisse velit rutrum modest a tortor velim pellentesque uter justo magna gravida.</p>
                            <div class="row padding-top-54 padding-bottom-17">
                                <a class="more" href="~/Home/post" title="READ MORE">READ MORE</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="pagination page-margin-top">
                    <li class="left">
                        <a href="#" title="" class="template-arrow-left-1">&nbsp;</a>
                    </li>
                    <li class="selected">
                        <a href="#" title="">
                            1
                        </a>
                    </li>
                    <li>
                        <a href="#" title="">
                            2
                        </a>
                    </li>
                    <li>
                        <a href="#" title="">
                            3
                        </a>
                    </li>
                    <li class="right">
                        <a href="#" title="" class="template-arrow-left-1">&nbsp;</a>
                    </li>
                </ul>
            </div>
            <div class="column column-1-4 re-smart-column">
                <div class="re-smart-column-wrapper">
                    <div class="call-to-action sl-small-wallet">
                        <h4>COST CALCULATOR</h4>
                        <p class="description t1">Use our form to estimate the initial cost of renovation or installation.</p>
                        <a class="more" href="cost_calculator.html" title="REQUEST A QUOTE">REQUEST A QUOTE</a>
                    </div>
                    <h6 class="box-header page-margin-top">Latest Posts</h6>
                    <ul class="blog small margin-top-30 clearfix">
                        <li>
                            <a href="~/Home/post" title="What a Difference a Few Months Make" class="post-image">
                                <img src="~/Content/images/samples/90x90/image_10.jpg" alt="">
                            </a>
                            <div class="post-content">
                                <a href="~/Home/post" title="What a Difference a Few Months Make">What a Difference a Few Months Make</a>
                                <ul class="post-details">
                                    <li class="date">April 25, 2015</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="~/Home/post" title="Kitchen and Living Room Renovation" class="post-image">
                                <img src="~/Content/images/samples/90x90/image_07.jpg" alt="">
                            </a>
                            <div class="post-content">
                                <a href="~/Home/post" title="Kitchen and Living Room Renovation">Kitchen and Living Room Renovation</a>
                                <ul class="post-details">
                                    <li class="date">April 17, 2015</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="~/Home/post" title="Signs You Need Drain Repair Services" class="post-image">
                                <img src="~/Content/images/samples/90x90/image_05.jpg" alt="">
                            </a>
                            <div class="post-content">
                                <a href="~/Home/post" title="Signs You Need Drain Repair Services">Signs You Need Drain Repair Services</a>
                                <ul class="post-details">
                                    <li class="date">March 05, 2015</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <h6 class="box-header page-margin-top">Most Viewed</h6>
                    <ul class="blog small margin-top-30 clearfix">
                        <li>
                            <a href="~/Home/post" title="What a Difference a Few Months Make" class="post-image">
                                <img src="~/Content/images/samples/90x90/image_10.jpg" alt="">
                            </a>
                            <div class="post-content">
                                <a href="~/Home/post" title="What a Difference a Few Months Make">What a Difference a Few Months Make</a>
                                <ul class="post-details">
                                    <li class="date">April 25, 2015</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="~/Home/post" title="Steps To Improve Joint Placement" class="post-image">
                                <img src="~/Content/images/samples/90x90/image_09.jpg" alt="">
                            </a>
                            <div class="post-content">
                                <a href="~/Home/post" title="Steps To Improve Joint Placement">Steps To Improve Joint Placement</a>
                                <ul class="post-details">
                                    <li class="date">April 17, 2015</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="~/Home/post" title="Installation Of Click Laminate Flooring" class="post-image">
                                <img src="~/Content/images/samples/90x90/image_01.jpg" alt="">
                            </a>
                            <div class="post-content">
                                <a href="~/Home/post" title="Installation Of Click Laminate Flooring">Installation Of Click Laminate Flooring</a>
                                <ul class="post-details">
                                    <li class="date">March 05, 2015</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <h6 class="box-header page-margin-top">Text Widget</h6>
                    <p class="description t1">Here is a text widget settings ipsum lore tora dolor sit amet velum. Maecenas est velum, gravida <a href="#">Vehicula Dolor</a></p>
                    <h6 class="box-header page-margin-top">Categories</h6>
                    <ul class="taxonomies margin-top-30 clearfix">
                        <li><a href="category.html" title="BUILD">BUILD</a></li>
                        <li><a href="category.html" title="DESIGN">DESIGN</a></li>
                        <li><a href="category.html" title="FLOORING">FLOORING</a></li>
                        <li><a href="category.html" title="PAINTING">PAINTING</a></li>
                        <li><a href="category.html" title="PAVERS">PAVERS</a></li>
                        <li><a href="category.html" title="PLUMBING">PLUMBING</a></li>
                        <li><a href="category.html" title="RENOVATION">RENOVATION</a></li>
                        <li><a href="category.html" title="REPAIRS">REPAIRS</a></li>
                        <li><a href="category.html" title="SOLAR SYSTEMS">SOLAR SYSTEMS</a></li>
                        <li><a href="category.html" title="TILING">TILING</a></li>
                    </ul>
                    <h6 class="box-header page-margin-top">Archives</h6>
                    <ul class="taxonomies full-width margin-top-30 clearfix">
                        <li><a href="#" title="April 2015">April 2015<span>2</span></a></li>
                        <li><a href="#" title="March 2015">March 2015<span>5</span></a></li>
                    </ul>
                    <h6 class="box-header page-margin-top">Tags</h6>
                    <ul class="taxonomies margin-top-30 clearfix">
                        <li><a href="#" title="ART">ART</a></li>
                        <li><a href="#" title="BUSINESS">BUSINESS</a></li>
                        <li><a href="#" title="DESIGN">DESIGN</a></li>
                        <li><a href="#" title="EDUCATION">EDUCATION</a></li>
                        <li><a href="#" title="LIFESTYLE">LIFESTYLE</a></li>
                        <li><a href="#" title="PHOTOGRAPHY">PHOTOGRAPHY</a></li>
                        <li><a href="#" title="POLITICS">POLITICS</a></li>
                        <li><a href="#" title="POSTER">POSTER</a></li>
                        <li><a href="#" title="TRENDS">TRENDS</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>