@{
    ViewBag.Title = "projects";
}

<div class="theme-page padding-bottom-70">
    <div class="row gray full-width page-header vertical-align-table">
        <div class="row full-width padding-top-bottom-50 vertical-align-cell">
            <div class="row">
                <div class="page-header-left">
                    <h1>OUR PROJECTS</h1>
                </div>
                <div class="page-header-right">
                    <div class="bread-crumb-container">
                        <label>You Are Here:</label>
                        <ul class="bread-crumb">
                            <li>
                                <a title="Home" href="~/Home/index">
                                    HOME
                                </a>
                            </li>
                            <li class="separator">
                                &#47;
                            </li>
                            <li>
                                OUR PROJECTS
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="row">
            <ul class="tabs-navigation small gray isotope-filters margin-top-70">
                <li><a class="selected" href="#filter-*" title="Renovation">All Projects</a></li>
                <li><a href="#filter-renovation" title="Renovation">Renovation</a></li>
                <li><a href="#filter-design-and-build" title="Design and Build">Design and Build</a></li>
                <li><a href="#filter-painting" title="Painting">Painting</a></li>
                <li><a href="#filter-pavers" title="Pavers">Pavers</a></li>
                <li><a href="#filter-solar-systems" title="Solar Systems">Solar Systems</a></li>
            </ul>
            <ul class="projects-list isotope">
                <li class="renovation">
                    <a href="~/Home/project_interior_renovation" title="Interior Renovation">
                        <img src="~/Content/images/samples/270x180/image_01.jpg" alt="">
                    </a>
                    <div class="view align-center">
                        <div class="vertical-align-table">
                            <div class="vertical-align-cell">
                                <p class="description">Interior Renovation</p>
                                <a class="more simple" href="~/Home/project_interior_renovation" title="VIEW PROJECT">VIEW PROJECT</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="pavers">
                    <a href="~/Home/project_garden_renovation" title="Garden Renovation">
                        <img src="~/Content/images/samples/270x180/image_04.jpg" alt="">
                    </a>
                    <div class="view align-center">
                        <div class="vertical-align-table">
                            <div class="vertical-align-cell">
                                <p class="description">Garden Renovation</p>
                                <a class="more simple" href="~/Home/project_garden_renovation" title="VIEW PROJECT">VIEW PROJECT</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="design-and-build painting">
                    <a href="~/Home/project_painting" title="Painting">
                        <img src="~/Content/images/samples/270x180/image_07.jpg" alt="">
                    </a>
                    <div class="view align-center">
                        <div class="vertical-align-table">
                            <div class="vertical-align-cell">
                                <p class="description">Painting</p>
                                <a class="more simple" href="~/Home/project_painting" title="VIEW PROJECT">VIEW PROJECT</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="renovation design-and-build">
                    <a href="~/Home/project_design_build" title="Design and Build">
                        <img src="~/Content/images/samples/270x180/image_10.jpg" alt="">
                    </a>
                    <div class="view align-center">
                        <div class="vertical-align-table">
                            <div class="vertical-align-cell">
                                <p class="description">Design and Build</p>
                                <a class="more simple" href="~/Home/project_design_build" title="VIEW PROJECT">VIEW PROJECT</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="design-and-build solar-systems">
                    <a href="~/Home/project_design_build" title="Design and Build">
                        <img src="~/Content/images/samples/270x180/image_08.jpg" alt="">
                    </a>
                    <div class="view align-center">
                        <div class="vertical-align-table">
                            <div class="vertical-align-cell">
                                <p class="description">Design and Build</p>
                                <a class="more simple" href="~/Home/project_design_build" title="VIEW PROJECT">VIEW PROJECT</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="renovation">
                    <a href="~/Home/project_interior_renovation" title="Interior Renovation">
                        <img src="~/Content/images/samples/270x180/i1.jpg" alt="">
                    </a>
                    <div class="view align-center">
                        <div class="vertical-align-table">
                            <div class="vertical-align-cell">
                                <p class="description">Interior Renovation</p>
                                <a class="more simple" href="~/Home/project_interior_renovation" title="VIEW PROJECT">VIEW PROJECT</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="renovation painting">
                    <a href="~/Home/project_painting" title="Painting">
                        <img src="~/Content/images/samples/270x180/image_09.jpg" alt="">
                    </a>
                    <div class="view align-center">
                        <div class="vertical-align-table">
                            <div class="vertical-align-cell">
                                <p class="description">Painting</p>
                                <a class="more simple" href="~/Home/project_painting" title="VIEW PROJECT">VIEW PROJECT</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="solar-systems">
                    <a href="~/Home/project_solar_systems" title="Solar Systems">
                        <img src="~/Content/images/samples/270x180/image_06.jpg" alt="">
                    </a>
                    <div class="view align-center">
                        <div class="vertical-align-table">
                            <div class="vertical-align-cell">
                                <p class="description">Solar Systems</p>
                                <a class="more simple" href="~/Home/project_solar_systems" title="VIEW PROJECT">VIEW PROJECT</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>