@{
    ViewBag.Title = "project_interior_renovation";
}

<div class="theme-page padding-bottom-66">
    <div class="row gray full-width page-header vertical-align-table">
        <div class="row full-width padding-top-bottom-50 vertical-align-cell">
            <div class="row">
                <div class="page-header-left">
                    <h1>INTERIOR DESIGNING</h1>
                </div>
                <div class="page-header-right">
                    <div class="bread-crumb-container">
                        <label>You Are Here:</label>
                        <ul class="bread-crumb">
                            <li>
                                <a title="Our Projects" href="~/Home/projects">
                                    OUR PROJECTS
                                </a>
                            </li>
                            <li class="separator">
                                &#47;
                            </li>
                            <li>
                                INTERIOR RENOVATION
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="row margin-top-70">
            <div class="column column-1-2">
                <h1> 5 marla house design </h1>
                <a href="~/Content/images/samples/750x500/image_01.jpg" class="prettyPhoto re-preload" title="Interior Renovation">
                    <img src='~/Content/images/samples/270x180/i5.jpg' alt='img' >
                </a>
                <div class="row margin-top-30">
                    <div class="column column-1-2">
                     <h1> 6 marla house design </h1>
                        <a href="~/Content/images/samples/750x500/image_06.jpg" class="prettyPhoto re-preload" title="Interior Renovation">
                            <img src='~/Content/images/samples/570x380/7i.jpg' alt='img' style="max-width:5500px; height:350px;">
                        </a>
                    </div>
                    
                </div>
                <div class="row margin-top-30">
                    <h1> 7-8 marla house design </h1>
                    <a href="~/Content/images/samples/750x500/image_07.jpg" class="prettyPhoto re-preload" title="Interior Renovation">
                        <img src='~/Content/images/samples/570x380/i7.jpg' alt='img' style="max-width:5500px; height:420px;">
                    </a>
                </div>
                <div class="row margin-top-30">
                    <h1> 10-11 marla house design </h1>
                    <a href="~/Content/images/samples/750x500/image_07.jpg" class="prettyPhoto re-preload" title="Interior Renovation">
                        <img src='~/Content/images/samples/570x380/10-11.jpg' alt='img' style="max-width:5500px; height:350px;">
                    </a>
                </div>
            </div>
            <div class="column column-1-2">
                <h3 class="box-header">BRIEF DESCRIPTION</h3>
                <p class="description t1">Interior designers make interior spaces functional, safe, and beautiful by determining space requirements and selecting decorative items, such as colors, lighting, and materials. They read blueprints and must be aware of building codes and inspection regulations.                                     </p>
                <h4 class="box-header page-margin-top">AT A GLANCE</h4>
                <table class="margin-top-40">
                    <tbody>
                        <tr>
                            <td>Project Type</td>
                            <td>Office Building</td>
                        </tr>
                        <tr>
                            <td>Client</td>
                            <td>New York City</td>
                        </tr>
                        <tr>
                            <td>Completion Date</td>
                            <td>August 2008</td>
                        </tr>
                        <tr>
                            <td>Project Size</td>
                            <td>3350 Square Feet</td>
                        </tr>
                        <tr>
                            <td>Contract Value</td>
                            <td>$10,250,000</td>
                        </tr>
                    </tbody>
                </table>
                <h4 class="box-header page-margin-top">SCOPE OF WORK</h4>
                <div class="tabs small no-scroll align-left clearfix margin-top-40">
                    <ul class="tabs-navigation small gray clearfix">
                        <li>
                            <a href="#client-info" title="Client Info">
                                Client Info
                            </a>
                        </li>
                        <li>
                            <a href="#scope-of-work" title="Scope Of Work">
                                Scope Of Work
                            </a>
                        </li>
                    </ul>
                    <div id="client-info">
                        <p>Morbi nulla tortor, dignissim est node cursus euismod est arcu. Nomad at vehicula novum justo magna.</p>
                        <ul class="list margin-top-20">
                            <li class="template-bullet">Financial Responsibility to Our Clients</li>
                            <li class="template-bullet">Superior Quality and Craftsmanship</li>
                            <li class="template-bullet">Quality and Value to the <a href="~/Home/projects">Projects We Deliver</a></li>
                            <li class="template-bullet">Highest Standards in <a href="~/Home/cost_calculator">Cost Control</a></li>
                        </ul>
                    </div>
                    <div id="scope-of-work">
                        <p>Morbi nulla tortor, dignissim est node cursus euismod est arcu. Nomad at vehicula novum justo magna.</p>
                        <ul class="list margin-top-20">
                            <li class="template-bullet">Financial Responsibility to Our Clients</li>
                            <li class="template-bullet">Superior Quality and Craftsmanship</li>
                            <li class="template-bullet">On Time and on Budget</li>
                            <li class="template-bullet">Real Focus on Customer Satisfaction</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>