@{
    ViewBag.Title = "project_painting";
}



<div class="theme-page padding-bottom-66">
    <div class="row gray full-width page-header vertical-align-table">
        <div class="row full-width padding-top-bottom-50 vertical-align-cell">
            <div class="row">
                <div class="page-header-left">
                    <h1>CONSTRUCTION</h1>
                </div>
                <div class="page-header-right">
                    <div class="bread-crumb-container">
                        <label>You Are Here:</label>
                        <ul class="bread-crumb">
                            <li>
                                <a title="Our Projects" href="~/Home/projects">
                                    OUR PROJECTS
                                </a>
                            </li>
                            <li class="separator">
                                &#47;
                            </li>
                            <li>
                                PAINTING
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="row margin-top-70">
            <div class="column column-1-2">
                <a href="~/Content/images/samples/750x500/image_07.jpg" class="prettyPhoto re-preload" title="Painting">
                    <img src='~/Content/images/samples/570x380/image_07.jpg' alt='img'>
                </a>
                <div class="row margin-top-30">
                    <div class="column column-1-2">
                        <a href="~/Content/images/samples/750x500/image_02.jpg" class="prettyPhoto re-preload" title="Painting">
                            <img src='~/Content/images/samples/570x380/image_02.jpg' alt='img'>
                        </a>
                    </div>
                    <div class="column column-1-2">
                        <a href="~/Content/images/samples/750x500/image_03.jpg" class="prettyPhoto re-preload" title="Painting">
                            <img src='~/Content/images/samples/570x380/image_03.jpg' alt='img'>
                        </a>
                    </div>
                </div>
                <div class="row margin-top-30">
                    <a href="~/Content/images/samples/750x500/image_09.jpg" class="prettyPhoto re-preload" title="Painting">
                        <img src='~/Content/images/samples/570x380/image_09.jpg' alt='img'>
                    </a>
                </div>
            </div>
            <div class="column column-1-2">
                <h3 class="box-header">BRIEF DESCRIPTION</h3>
                <p class="description t1">Paetos dignissim at cursus elefeind norma arcu. Pellentesque accumsan est in tempus etos ullamcorper, sem quam suscipit lacus maecenas tortor. Erates vitae node metus. Suspendisse gravida ornare non mattis velit rutrum modest. Morbi suspendisse a tortor velim pellentesque uter justo magna gravida.</p>
                <h4 class="box-header page-margin-top">AT A GLANCE</h4>
                <table class="margin-top-40">
                    <tbody>
                        <tr>
                            <td>Project Type</td>
                            <td>Office Building</td>
                        </tr>
                        <tr>
                            <td>Client</td>
                            <td>New York City</td>
                        </tr>
                        <tr>
                            <td>Completion Date</td>
                            <td>August 2008</td>
                        </tr>
                        <tr>
                            <td>Project Size</td>
                            <td>3350 Square Feet</td>
                        </tr>
                        <tr>
                            <td>Contract Value</td>
                            <td>$10,250,000</td>
                        </tr>
                    </tbody>
                </table>
                <h4 class="box-header page-margin-top">SCOPE OF WORK</h4>
                <div class="tabs small no-scroll align-left clearfix margin-top-40">
                    <ul class="tabs-navigation small gray clearfix">
                        <li>
                            <a href="#client-info" title="Client Info">
                                Client Info
                            </a>
                        </li>
                        <li>
                            <a href="#scope-of-work" title="Scope Of Work">
                                Scope Of Work
                            </a>
                        </li>
                    </ul>
                    <div id="client-info">
                        <p>Morbi nulla tortor, dignissim est node cursus euismod est arcu. Nomad at vehicula novum justo magna.</p>
                        <ul class="list margin-top-20">
                            <li class="template-bullet">Financial Responsibility to Our Clients</li>
                            <li class="template-bullet">Superior Quality and Craftsmanship</li>
                            <li class="template-bullet">Quality and Value to the <a href="~/Home/projects">Projects We Deliver</a></li>
                            <li class="template-bullet">Highest Standards in <a href="~/Home/cost_calculator">Cost Control</a></li>
                        </ul>
                    </div>
                    <div id="scope-of-work">
                        <p>Morbi nulla tortor, dignissim est node cursus euismod est arcu. Nomad at vehicula novum justo magna.</p>
                        <ul class="list margin-top-20">
                            <li class="template-bullet">Financial Responsibility to Our Clients</li>
                            <li class="template-bullet">Superior Quality and Craftsmanship</li>
                            <li class="template-bullet">On Time and on Budget</li>
                            <li class="template-bullet">Real Focus on Customer Satisfaction</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
