@{
    ViewBag.Title = "register";
}

<h2>register</h2>



<!---->
<div class="container">
    <h6 class="dress"><a href="../../Home/register">Home</a> <i> </i> Register </h6>
</div>
<div class="back">
    <h2>REGISTER</h2>
</div>
<!---->
<div class="container">
    <div class="register">
        <h3>PERSONAL INFORMATION</h3>
        <form>


            <div class="mation">
                <div>
                    <span>First Name</span>
                    <input type="text">
                </div>
                <div>
                    <span>Last Name</span>
                    <input type="text">
                </div>
                <div>
                    <span>Email Address</span>
                    <input type="text">
                </div>
                <div>
                    <span>Password</span>
                    <input type="text">
                </div>
            </div>
            <input type="submit" value="submit">
        </form>


    </div>
</div>

