@{
    ViewBag.Title = "services";
}



<div class="theme-page padding-bottom-70">
    <div class="row gray full-width page-header vertical-align-table">
        <div class="row full-width padding-top-bottom-50 vertical-align-cell">
            <div class="row">
                <div class="page-header-left">
                    <h1>OUR SERVICES</h1>
                </div>
                <div class="page-header-right">
                    <div class="bread-crumb-container">
                        <label>You Are Here:</label>
                        <ul class="bread-crumb">
                            <li>
                                <a title="Home" href="~/Home/index">
                                    HOME
                                </a>
                            </li>
                            <li class="separator">
                                &#47;
                            </li>
                            <li>
                                OUR SERVICES
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="row">
            <ul class="services-list clearfix padding-top-70">
                <li>
                    <a href="~/Home/service_interior_renovation" title="Interior Renovation">
                        <img src="~/Content/images/samples/390x260/interior.jpg" alt="">
                    </a>
                    <h4 class="box-header"><a href="~/Home/service_interior_renovation" title="Interior Renovation">INTERIOR DESIGNING</a></h4>
                    <p>We can help you bing new life to existing rooms and develop unused spaces.</p>
                </li>
                <li>
                    <a href="~/Home/service_design_build" title="Design and Build">
                        <img src="~/Content/images/samples/390x260/interior.jpg" alt="">
                    </a>
                    <h4 class="box-header"><a href="~/Home/service_design_build" title="Design and Build">ARCHITECTURAL DESIGNS</a></h4>
                    <p>From initial design and project specification to archieving a high end finish.</p>
                </li>
                
                <li>
                    <a href="~/Home/service_paver_walkways" title="Paver Walkways">
                        <img src="~/Content/images/samples/390x260/image_04.jpg" alt="">
                    </a>
                    <h4 class="box-header"><a href="~/Home/service_interior_renovation" title="PAVER WALKWAYS">LANDSCAPE DESIGNING</a></h4>
                    <p>Brick pavers define beauty, elegance and durability for driveways, patios and walkways.</p>
                </li>
                
                <li>
                    <a href="~/Home/service_solar_systems" title="Solar Systems">
                        <img src="~/Content/images/samples/390x260/image_06.jpg" alt="">
                    </a>
                    <h4 class="box-header"><a href="~/Home/service_solar_systems" title="Solar Systems">SOLAR SYSTEMS</a></h4>
                    <p>Generate cheap, green electricity from sunlight using photovoltaic cells.</p>
                </li>
            </ul>
        </div>
    </div>
</div>